---
layout: default
permalink: /categories/
title: Categories
---

{% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <section class="categories cw">
    <h2>Category: {{ category_name }}</h2>
    <ul class="posts">
      {% for post in site.categories[category_name] %}
      <li id="#{{ category_name | slugize }}">
        <p class="published">{{ post.date | date: "%-d %B %Y" }}</p>
        <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>
        <p>{{ post.excerpt }}</p>
        <a class="btn btn-danger" href="{{site.baseurl}}{{ post.url }}">Read</a>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
